

/* Himanshu raikwar */
body {
	background: #212121;
	padding-top: 20em;
	display: flex;
	justify-content: center;
	}
	
	/* DEMO-SPECIFIC STYLES */
	.typewriter h1 {
	color: #fff;
	font-family: monospace;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #FAFAFA; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 3.5s steps(40, end),
		blink-caret .5s step-end infinite;
	
	}
	
	/* The typing effect */
	@keyframes typing {
	from { width: 0 }
	to { width: 100% }
	}
	
	/* The typewriter cursor effect */
	@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #FAFAFA }
	}

	.white{
	color: #EEEEEE;
	text-align: center;
	font-size: 60px !important;
	letter-spacing: 8px;
	}

	.white2{
		color: #EEEEEE;
		text-align: center;
		}

	.text{
		color: #1B5E20;
		padding: 70px;
	}
	a{		
        margin-left: 30%;
	}




	  .wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: 0px;
		-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
	  }
	  
	  .glitch {
		font-size: 30px;
		text-align: center;
		position: relative;
		-webkit-animation: shake .4s infinite;
				animation: shake .4s infinite;
		-webkit-animation-direction: alternate;
				animation-direction: alternate;
	  }
	  
	  .glitch_fixed {
		font-size: 30px;
		text-align: center;
		position: relative;
		color: #01FA01;
		-webkit-animation: color .4s infinite;
				animation: color .4s infinite;
		-webkit-animation-direction: alternate;
				animation-direction: alternate;
	  }
	  
	  .glitch_opacity {
		font-size: 30px;
		text-align: center;
		position: relative;
		color: black;
		position: absolute;
		top: 0;
		left: -2px;
		-webkit-animation: show .2s infinite;
				animation: show .2s infinite;
		-webkit-animation-direction: alternate;
				animation-direction: alternate;
	  }
	  
	  .glitch_opacity span {
		color: #F802F8;
	  }
	  
	  @-webkit-keyframes show {
		50% {
		  opacity: 0;
		  text-shadow: 2px 2px #AAE90E;
		}
	  }
	  
	  @keyframes show {
		50% {
		  opacity: 0;
		  text-shadow: 2px 2px #AAE90E;
		}
	  }
	  @-webkit-keyframes color {
		50% {
		  color: #b1b1b1;
		}
	  }
	  @keyframes color {
		50% {
		  color: #b1b1b1;
		}
	  }
	  @-webkit-keyframes shake {
		0% {
		  -webkit-transform: translate(2px, 1px) rotate(0deg);
				  transform: translate(2px, 1px) rotate(0deg);
		}
		10% {
		  -webkit-transform: translate(-1px, -2px) rotate(-1deg);
				  transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
		  -webkit-transform: translate(-3px, 0px) rotate(1deg);
				  transform: translate(-3px, 0px) rotate(1deg);
		}
		30% {
		  -webkit-transform: translate(0px, 2px) rotate(0deg);
				  transform: translate(0px, 2px) rotate(0deg);
		}
		40% {
		  -webkit-transform: translate(1px, -1px) rotate(1deg);
				  transform: translate(1px, -1px) rotate(1deg);
		}
		50% {
		  -webkit-transform: translate(-1px, 2px) rotate(-1deg);
				  transform: translate(-1px, 2px) rotate(-1deg);
		}
		60% {
		  -webkit-transform: translate(-3px, 1px) rotate(0deg);
				  transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
		  -webkit-transform: translate(2px, 1px) rotate(-1deg);
				  transform: translate(2px, 1px) rotate(-1deg);
		}
		80% {
		  -webkit-transform: translate(-1px, -1px) rotate(1deg);
				  transform: translate(-1px, -1px) rotate(1deg);
		}
		90% {
		  -webkit-transform: translate(2px, 2px) rotate(0deg);
				  transform: translate(2px, 2px) rotate(0deg);
		}
		100% {
		  -webkit-transform: translate(1px, -2px) rotate(-1deg);
				  transform: translate(1px, -2px) rotate(-1deg);
		}
	  }
	  @keyframes shake {
		0% {
		  -webkit-transform: translate(2px, 1px) rotate(0deg);
				  transform: translate(2px, 1px) rotate(0deg);
		}
		10% {
		  -webkit-transform: translate(-1px, -2px) rotate(-1deg);
				  transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
		  -webkit-transform: translate(-3px, 0px) rotate(1deg);
				  transform: translate(-3px, 0px) rotate(1deg);
		}
		30% {
		  -webkit-transform: translate(0px, 2px) rotate(0deg);
				  transform: translate(0px, 2px) rotate(0deg);
		}
		40% {
		  -webkit-transform: translate(1px, -1px) rotate(1deg);
				  transform: translate(1px, -1px) rotate(1deg);
		}
		50% {
		  -webkit-transform: translate(-1px, 2px) rotate(-1deg);
				  transform: translate(-1px, 2px) rotate(-1deg);
		}
		60% {
		  -webkit-transform: translate(-3px, 1px) rotate(0deg);
				  transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
		  -webkit-transform: translate(2px, 1px) rotate(-1deg);
				  transform: translate(2px, 1px) rotate(-1deg);
		}
		80% {
		  -webkit-transform: translate(-1px, -1px) rotate(1deg);
				  transform: translate(-1px, -1px) rotate(1deg);
		}
		90% {
		  -webkit-transform: translate(2px, 2px) rotate(0deg);
				  transform: translate(2px, 2px) rotate(0deg);
		}
		100% {
		  -webkit-transform: translate(1px, -2px) rotate(-1deg);
				  transform: translate(1px, -2px) rotate(-1deg);
		}
	  }
	  .span, .glitch span:first-child, .glitch span:nth-child(2), .glitch span:nth-child(3), .glitch span:nth-child(4), .glitch span:nth-child(5), .glitch span:nth-child(6) {
		color: #0301FA;
		-webkit-animation: glitch .4s linear infinite;
				animation: glitch .4s linear infinite;
		-webkit-animation-direction: alternate;
				animation-direction: alternate;
		position: absolute;
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	  }
	  
	  .glithc span {
		position: absolute;
	  }
	  
	  .glitch span:first-child {
		left: 0;
	  }
	  
	  .glitch span:nth-child(2) {
		left: 25px;
	  }
	  
	  .glitch span:nth-child(3) {
		left: 50px;
	  }
	  
	  .glitch span:nth-child(4) {
		left: 75px;
	  }
	  
	  .glitch span:nth-child(5) {
		left: 100px;
	  }
	  
	  .glitch span:nth-child(6) {
		left: 125px;
	  }
	  
	  @-webkit-keyframes glitch {
		0% {
		  -webkit-transform: translateY(-10%);
				  transform: translateY(-10%);
		  -webkit-transform: translateX(-5%);
				  transform: translateX(-5%);
		}
		50% {
		  -webkit-transform: translateY(-10%);
				  transform: translateY(-10%);
		  -webkit-transform: translateX(-10%);
				  transform: translateX(-10%);
		  color: #01FA01;
		}
		100% {
		  -webkit-transform: translateY(10%);
				  transform: translateY(10%);
		  -webkit-transform: translateX(5%);
				  transform: translateX(5%);
		  color: #FA0103;
		  clip: rect(40px, 0px, 40px, 0px);
		}
	  }
	  
	  @keyframes glitch {
		0% {
		  -webkit-transform: translateY(-10%);
				  transform: translateY(-10%);
		  -webkit-transform: translateX(-5%);
				  transform: translateX(-5%);
		}
		50% {
		  -webkit-transform: translateY(-10%);
				  transform: translateY(-10%);
		  -webkit-transform: translateX(-10%);
				  transform: translateX(-10%);
		  color: #01FA01;
		}
		100% {
		  -webkit-transform: translateY(10%);
				  transform: translateY(10%);
		  -webkit-transform: translateX(5%);
				  transform: translateX(5%);
		  color: #FA0103;
		  clip: rect(40px, 0px, 40px, 0px);
		}
	  }

	  .textdec{
		  text-align: center;
		  color: #01FA01;
	  }

	  .colorgreen{
		  color: green;
	  }

	  .cgrean{
		  color: #81C784;
	  }
	  

